<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>識別できるフランス菓子の種類</title>
    <link rel="stylesheet" href="../static/c_type.css">
</head>

<body>
    <h2>
        識別できるフランス菓子は以下の8種です。
    </h2>
    <div>
        <ul>
            <li>マカロン</li>
            <li>カヌレ</li>
            <li>オランジェット</li>
            <li>ダックワーズ</li>
            <li>シュークリーム</li>
            <li>エクレア</li>
            <li>フロランタン</li>
            <li>シャルロット</li>
        </ul>
    </div>    

    <a href="#" onclick="window.close()">[閉じる]</a>