<!DOCTYPE html>
<html lang='ja'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content="device-width, initial-scale=1.0">
    <meta http-equiv='X-UA-Compatible' content="ie=edge">
    <title>YOGAのポーズ識別アプリ（5種類対応）</title>
    <link rel='stylesheet' href="./static/stylesheet.css">
</head>

</body>
        <div class='main'> 
        <img class="title" src="./static/pic/vHnVtLK8rCc.jpg">

        <h2> AIがYOGAのポーズをお答えします</h2>
        <p class='img_send'>画像を送信してください</p>
        <form method='POST' enctype="multipart/form-data">
            <input class='file_choose' type="file" name="file">
            <input class='btn' value="送信" type="submit">
        </form>

        <h3 class='answer'>{{answer}}</h3>
    </div>

    <footer>
        <small>&copy; 2022 Y.KUKIMOTO</small>   
    </footer>
</body>
</html>